$bgColor: #ccc !default;
*,
body {
  margin: 0;
  padding: 0;
}
html {
  background-color: $bgColor;
}
.hello {
  display: flex;
  width: 720px;
  height: 200px;
  background: #f00;
  border-radius: 10px;
}
.first_content{
  width: 400px;
  background: #ddd;
}
.second_content{
  width: 300px;
  background: #aaa;
}
.three_content{
  width: 600px;
  background: #eee;
}
.fourth_content{
  width: 100px;
  height: 600px;
  background: #0bbb00;
}